{% extends "workout_journal\base.html" %} {% block title %}Dodaj nowego
podopiecznego{% endblock %} {% block content %}
<h1>Dodaj nowego podopiecznego</h1>

{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <label for="imie">Imię:</label>
  <input type="text" id="imie" name="imie" /><br /><br />

  <label for="nazwisko">Nazwisko:</label>
  <input type="text" id="nazwisko" name="nazwisko" /><br /><br />

  <label for="plec">Płeć:</label>
  <select id="plec" name="plec">
    <option value="">-- wybierz --</option>
    <option value="M">Mężczyzna</option>
    <option value="K">Kobieta</option>
    <option value="I">Inna</option>
  </select>
  <br /><br />

  <label for="trener">Trener:</label>
  <select id="trener" name="trener" multiple>
    {% for t in trenerzy %}
    <option value="{{ t.id }}">
      {{ t.imie }} {{t.nazwisko}}: {{t.specjalizacja}}
    </option>
    {% endfor %}
  </select>
  <br /><br />

  <button type="submit">Zapisz</button>
</form>
{% endblock %}
