{% extends "workout_journal\base.html" %} {% block title %}Dodaj nowego
trenera{% endblock %} {% block content %}
<h1>Dodaj nowego trenera</h1>

{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <label for="imie">Imię:</label>
  <input type="text" id="imie" name="imie" /><br /><br />

  <label for="nazwisko">Nazwisko:</label>
  <input type="text" id="nazwisko" name="nazwisko" /><br /><br />

  <label for="specjalizacja">Specjalizacja:</label>
  <select id="specjalizacja" name="specjalizacja">
    {% for s in specjalizacje %}
    <option value="{{ s.id }}">{{ s.nazwa }}</option>
    {% endfor %}
  </select>
  <br /><br />

  <button type="submit">Zapisz</button>
</form>
{% endblock %}
