{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/workout_journal.css' %}" />
    <body>
        <div id="header">
            Pierwsza aplikacja Django
            {% if request.user.is_authenticated %}
                Witaj, {{ request.user.username }}!
                <a href="{% url 'user-logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'user-login' %}">Zaloguj</a>
            {% endif %}
        </div>
        <hr/>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div id="sidebar">
            <p>Panel boczny</p>
        </div>
    </body>
</html>
